extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Anwar Montasir

        //- Feel free to personalize the title below
        p Senior Software Development Instructor


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p Hi, my name is Anwar. I'm a designer, a developer, and a teacher at Treehouse. My pronouns are he/him. I joined Treehouse in October 2019, and I teach a mixture of UX, Front-End Web Development, and Full Stack JavaScript. I live in Portland, Oregon with my wife, my daughter, two cats, and a dog.
          
          p I studied a mixture of graphic design and painting in college. I was curious about coding from the first moment I saw the web, but as of my graduation in the spring of 1999 the University of Arizona didn’t offer coding classes. So I taught myself HTML and ended up being the only student in my graduating class to build a portfolio website as my final project.
          
          p I moved to Brooklyn in the summer of 1999 and stayed for seventeen years. While in NYC I worked as a designer and developer at a variety of ad agencies and as a freelancer, doing everything from designing print ads to building animated Flash banners, and from developing websites in HTML/CSS/JS to creating custom content management systems in PHP/MySQL.
          
          p My teaching career began unexpectedly in 2002. I was offered three adjunct college classes on a Thursday and was in the classroom that Monday. A nerve-racking beginning, but I fell in love with teaching immediately and consider myself lucky to have taught in some of the world’s most diverse classrooms. I’ve always encouraged conversations between developers and designers, and I taught a wide variety of classes to both groups: beginning HTML/CSS, advanced JavaScript, typography, UX, career development, portfolio preparation.
          
          p I moved to Portland in 2016 where I initially struggled to find work. I recognized my JavaScript skills had fallen out of date, so I earned a certificate in Full Stack JavaScript in 2017 which led to more secure teaching positions. Treehouse found me on LinkedIn in 2019 and I can honestly say I’ve never been happier at a job. The old saying is true: if you love what you’re doing, it doesn’t feel like work.



      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 555-555-1234
          li anwar.montasir@ teamtreehouse.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/anwarmontasir/') LinkedIn
        a.btn-link(href='https://www.linkedin.com/in/anwarmontasir/') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back