extends layout.pug

block content

  article.portfolio-intro

    h1 Anwar Montasir Portfolio

    p Developer courses created at Treehouse, 2019-2021


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
         .cell
          a(href=`project/${project.id}`)
            img.thumbnail(src=`${project.image_urls.square}`, alt=`${project.description}`)
            h5 #{project.project_name}

